/.vs
/SIASUN_WMS/bin
/SIASUN_WMS/obj
/src/Core/Core.Domain/obj
/src/Core/Core.Domain/bin
/src/Core/Core.Service/obj
/src/Core/Core.Service/bin
/src/Core/Core.Utility/obj
/src/Core/Core.Utility/bin
/src/Core/Core.Web/obj
/src/Core/Core.Web/bin
/src/MicroServices/SystemService/SystemService.API/obj
/src/MicroServices/SystemService/SystemService.API/bin
/src/MicroServices/SystemService/SystemService.Domain/obj
/src/MicroServices/SystemService/SystemService.Domain/bin
/src/MicroServices/SystemService/SystemService.Repository/obj
/src/MicroServices/SystemService/SystemService.Repository/bin
/src/MicroServices/SystemService/SystemService.Service/obj
/src/MicroServices/SystemService/SystemService.Service/bin
/src/MicroServices/WareHouseService/WareHouseService.API/obj
/src/MicroServices/WareHouseService/WareHouseService.API/bin
/src/MicroServices/WareHouseService/WareHouseService.Domain/obj
/src/MicroServices/WareHouseService/WareHouseService.Domain/bin
/src/MicroServices/WareHouseService/WareHouseService.Repository/obj
/src/MicroServices/WareHouseService/WareHouseService.Repository/bin
/src/MicroServices/WareHouseService/WareHouseService.Service/obj
/src/MicroServices/WareHouseService/WareHouseService.Service/bin
/src/MicroServices/APIGateway/APIGateway/obj
/src/MicroServices/APIGateway/APIGateway/bin
/src/Core/protobufs/obj
/src/Core/protobufs/bin
