<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">
	<variable name="logLevel" value="${level:uppercase=true}"/>
	<variable name="logDate" value="${date:format=yyyy-MM-dd HH\:mm\:ss,fffz}"/>
	<variable name="version" value="${assembly-version}"/>
	<variable name="logFolder" value="${basedir}/logs"/>
	<variable name="operator" value="${replace:searchFor=(\\.[\\w]+)+:replaceWith=:regex=true:inner=${logger}}"/>
	<variable name="logFile" value="${appdomain:format={1\}}-${operator}.log"/>
	<variable name="exceptionContent" value="${exception:format=tostring}"/>
	<targets>
		<target name="AllLog" xsi:type="File"
				header="|Level|DateTime|CorrelationId|Version|Thread|Class|Message|"
				layout="|${pad:padding=-5:inner=${logLevel}}|${logDate}|${mdlc:CorrelationId}|${version}|${threadid}|${logger:shortName=true}|${message} ${onexception:${exceptionContent}|"
				fileName="${logFolder}/${logFile}"
				maxArchiveFiles="20"
				archiveAboveSize="5242880"
				archiveFileName="${logFolder}/${logFile}.{#}"
				archiveNumbering="Rolling"
				keepFileOpen="false"
				encoding="utf-8" />
	</targets>
	<rules>
		<logger name="*" minlevel="Trace" maxlevel="Fatal" writeTo="AllLog" />
	</rules>
</nlog>